* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #EEE;
}
.heading {
	padding: 20px 10px;
	margin: 10px 10px;
	text-align: center;
}
.heading h1 {
	color: blue;
}
.nav_bar {
	width: 100px;
	float: right;
}
.content {
	width: 700px;
	margin: 20px auto;
	font-size: 20px;
}
